<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Deluxe</title>
</head>
<body>


<form action="/crear-formulario" method="post" class="formulario">
    <h3 class="frase">Bienvenido a Digital Delux. </h3>
    <p class="frase2">Registrate y sé parte de nuestra tienda online.</p>
        
    <br>
    <div class="control-formulario">
        <label class="titulo">Email</label>
        <input type="email" name="email" class="control" required>
    </div>

    <div class="control-formulario">
        <label class="titulo" >Contraseña</label>
        <input type="password" name="contraseña" class="control" required>
        
    </div>

    <div class="control-formulario">
    <label class="titulo">Confirmar contraseña</label>
    <input type="password" name="confirmar-contraseña" class="control" required>
    </div>

    <div class="control-formulario">
        <label class="titulo">Nombre</label>
        <input type="text" name="nombre" class="control" required>
    
    </div>

    <div class="control-formulario">
        <label class="titulo">Apellido</label>
        <input type="text" name="apellido" class="control" required>
    </div>

    <div class="control-formulario">
        <label class="titulo">DNI</label>
        <input type="number" name="dni" class="control" required>
    </div>

    <div class="control-formulario">
        <label class="titulo">Fecha de Nacimiento</label>
        <input type="date" nombre="fechaDeNacimiento" class="control" required>
    </div>
    <br>

    <button input type="submit" class="boton-formulario">Enviar</button>

    

    <div>
        <br>
        <h3 class="pregunta-de-registro">¿Ya estás registrado?</h3>
    </div>

    <button input type="submit" class="otra-opciones-de-registro">Haz click aquí</button>

</form>
</body>
</html>