    .frase{
        color: #dd5d20;
    }

    .frase2{
        color: #dd5d20;
        font-size: 16px;
    }
    
    .titulo{
        font-size: 18px;
        color:black;
        font-weight: bold;
    }
    
    .boton-formulario{
        background-color: #dd5d20;
        border:none;
        font-size: 20px;
        color:#000000;
        padding:5px 10px;
        border-radius: 8px;
    }
    
    .formulario{
        padding:20px 15px;
    }
    
    .control-formulario{
        margin-bottom:15px;
    }
        
    
    .control{
       
            width:100%;
            padding: 8px 8px;
        }
    
    .pregunta-de-registro{
        color: #060e55;
        font-size: 16px;
    }

    .otra-opciones-de-registro{
        color:#060e55;
        border:none;
        font-size: 15px;
        font-weight: bold;
        text-decoration: underline;
        background-color: #473f4a;

        
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #473f4a;
}

